#banner{
    height: 90vh;
    background-image: url(bf.jpg);
    background-size: cover;
    backdrop-filter: blur;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn{
    padding: 15px 30px !important;
    border-radius: 60px !important;
    font-size: 13px !important;
    font-weight: 900 !important;
    transition: all .4s ease !important;
}

.btn-brand{
    background-color: brown !important;
    color: #fff !important;
    border: 3px solid #fff !important;
}
.btn-brand:hover{
    background-color: transparent !important;
    border: 3px rgb(255, 255, 255) solid !important;
    color: rgb(223, 20, 20) !important;
    
}

section{
    padding: 100px 0px;
}

#aboutus h1{
    font-size: 55px;
    font-weight: 900;
    color: brown;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #000000;
}

#services h3{
    font-size: 55px;
    font-weight: 900;
    color: brown;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #000000;
}

.uwu{
    padding: 30px;
}

.card{
    transition: background-color 0.3s, color 0.3ms;
    border: 5px solid var(--border);  /*border-style*/
    box-shadow: 0 0 10px;
    border-radius: 30px;
}

.card:hover{
    background-color: rgb(59, 190, 230);
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn{
    color: white;
}
